footer
  .container.text-center
    p.pull-left © 2014 Andrew Jarvis. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http://impatientbanana.com/') Impatient Banana Homepage
      li
        a(href='https://twitter.com/ImpatientBanana') Twitter