//
   Created by Andrew on 11/18/2014.

.container
   if intro
      .jumbotron.jumbotron-inner-shadow
         h1.text-center Introduction
         p.lead
            p Dear reader,
            br
            p.text-indent Thanks for dropping by! Before looking through the website, there is just one thing: If you came here without an open mind, you can do one of two things: 1) change that as you read this introduction, or 2) leave.
            p.text-indent With that being said, let me give you my 2 cents on hip-hop before we move on. Hip-hop isn't all about money, gold chains, drugs, and women. The spirit and heart behind hip-hop's lyrics is just the same as any other music genre, and the community behind it continues to grow each and every day across all races, ethnicities, ages, and incomes. And in some cases, hip-hop saved the lives of some rappers that didn't have the same opportunities we have. As Kendrick Lamar rhymed in his song "Fuck Your Ethnicity": "Fire burning inside my eyes, this the music that saved my life/Y'all be calling it hip-hop, I be calling it hypnotize". Something to think about.
            p.text-indent Anyways, back to the website. I have compiled five genres showcasing hip-hop in its truest form. The genres include a murder analysis, an album collage, a lyrics comparison, a three-part chart, and a top 10 lyrics list. What I'm really saying is that you'll find everything on the spectrum of hip-hop right here. As you go through my genres, I hope you enjoy yourself and learn a few things along the way. And if you haven't opened your mind by now, it's time for you to leave.
            br
            br
            p Keep It Real,
            br
            p Andrew
      hr