//
   Created by Andrew on 11/29/2014.

extends layout

block content
   h1 #{title)
   hr
   .container-fluid
      .row-fluid
         .col-md-1
            h2 1.
         .col-md-6
            blockquote
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it when you eat it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it when you eat it
               br
               | I love it when you eat it
               cite Rihanna on "Cockiness (Love It)"
         .col-md-5
            iframe(width="420", height="315", src="//www.youtube.com/embed/mbJRVufEX00", frameborder="0", allowfullscreen)
      .row-fluid
         .col-md-12
            p.text-indent It is clear the Rihanna has a deep understanding of poverty in America. After making it big, she has come to feel sympathy for individuals who have not had successful music careers like herself. She wants to feed the poor, and wants to share her carefully prepared meals with everyone. It is in this song, "Cockiness", that Rihanna's charitable heart fully blesses us with its radiant glow.

      hr
      br

      .row-fluid
         .col-md-1
            h2 2.
         .col-md-6
            blockquote
               | He looks at the closet
               br
               | I pull out my Beretta
               br
               | He walks up to the closet
               br
               | He comes up to the closet
               br
               | Now he's at the closet
               br
               | Now he's opening the closet...
               cite R Kelly on "Trapped In the Closet (1 of 33)"
         .col-md-5
            iframe(width="420", height="315", src="//www.youtube.com/embed/zFosUj6A22c", frameborder="0", allowfullscreen)
      .row-fluid
         .col-md-12
            p.text-indent R Kelly pursued a rap career at a great cost. Before deciding that he was going to becoming the superstar he is today, he was a master carpenter. He specialized in Amish style furniture and structural work, which includes closet doors. Kelly has struggled to find meaning in the world without his band-saw and hammer, and has been stuck writing over 30 episodes of "Trapped in the Closet". It is a poetic and moving cry for help.

      hr
      br

      .row-fluid
         .col-md-1
            h2 3.
         .col-md-6
            blockquote
               | My jewelry game sick
               br
               | I think my jeweler need chemo
               cite Gucci Mane on "Excuse Me"
         .col-md-5
            iframe(width="420", height="315", src="//www.youtube.com/embed/7BrjDE97Wq8", frameborder="0", allowfullscreen)
      .row-fluid
         .col-md-12
            p.text-indent Gucci Mane, through this song, is directly supporting his jeweler. As an aficionado of the craft, even creating two golden chains for associate 2Chainz, he was heartbroken when his jeweler announced that he has swag cancer. It is inoperable, and soon his business partner will lose his swag entirely. To prepare him for a private life of no clubs and dank weed, Gucci has begun purchasing his entire stock to give him the funds needed to retire.

      hr
      br

      .row-fluid
         .col-md-1
            h2 4.
         .col-md-6
            blockquote
               | That's right put in work, move your ass, go berserk
               br
               | Eat your salad, no dessert
               br
               | Get that man you deserve
               cite Kanye West on "The New Workout Plan"
         .col-md-5
            iframe(width="420", height="315", src="//www.youtube.com/embed/Ua61XY84gGg", frameborder="0", allowfullscreen)
      .row-fluid
         .col-md-12
            p.text-indent This song is a metaphor for the spiritual journey of the Buddha. Once Siddhartha Gautama discovered that life is suffering, he "went berserk" and "moved his ass" out of his childhood home. He fled a previous life of luxury and committed himself to reducing the suffering of the universe. One example of this is committing entirely to vegetables, and eventually fasting entirely. The man who would become Buddha strived to find a guru who could teach him the ways of the world, in light of the suffering he had come to realize was all around him. Through this song, Kanye West is professing his newfound Buddhist faith.

      hr
      br

      .row-fluid
         .col-md-1
            h2 5.
         .col-md-6
            blockquote
               | Yea I love these girls
               br
               | Bitches on my dick
               br
               | Been around the world
               br
               | Ain't seen shit like this
               br
               | Ain't seen shit
               br
               | Ain't seen shit
               br
               | Ain't seen shit like this
               br
               | Ain't seen shit
               br
               | Ain't seen shit
               br
               | Ain't seen shit like this
               br
               | From the back, to the front
               br
               | She the employee of the month
               br
               | She shook her back then front
               br
               | She the employee of the month
               cite 2 Chainz on "Employee of the Month"
         .col-md-5
            iframe(width="420", height="315", src="//www.youtube.com/embed/kojHW8VB2_I", frameborder="0", allowfullscreen)
      .row-fluid
         .col-md-12
            p.text-indent 2Chainz was one of the drafters of the original OSHA standards for a safe workplace. He wants the world to know that he made the regrettable decision to let an employee have sexual relations with him, and then proceeded to shake her. We can only assume that the later was to prepare the employee in question for a team building exercise.
            p.text-indent Since then, however, 2Chainz has run a tight shift at his workplace. Since the regrettable incident, he has not seen any such "shit". This may be in part to giving the abused employee the distinguished honor of being "Employee of the Month".




   .container
      button#showCitations.btn.btn-default(style='display:none;') Show Citations ⇒
      #citations(style='display:none;')
         .row
            .col-md-6
               p.text-center
               | Rihanna - Cockiness (Love It)
               br
               | Kanye West - The New Workout Plan
               br
               | 2 Chainz - Employee of the Month
            .col-md-6
               p.text-center
               | R Kelly - Trapped In the Closet (1 of 33)
               br
               | Gucci Mane - Excuse Me


block scripts
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
   script.
      $("#showCitations").show().click(function () {
         if ($("#citations").is(":hidden")) {
            $("#citations").fadeIn();
            $("#showCitations").text("Hide Citations ⇐");
         }
         else if ($("#citations").is(":visible")) {
            $("#citations").fadeOut();
            $("#showCitations").text("Show Citations ⇒");
         }
      });