//
   Created by Andrew on 11/29/2014.

extends layout

block content
   h1 #{title)
   hr
   .container-fluid
      .row-fluid
         .col-md-1
            h2 1.
         .col-md-6
            blockquote
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it when you eat it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it, I love it
               br
               | I love it when you eat it
               br
               | I love it when you eat it
               br
               | I love it when you eat it
               cite Rihanna on "Cockiness (Love It)"
         .col-md-5
            iframe(width="420", height="315", src="//www.youtube.com/embed/mbJRVufEX00", frameborder="0", allowfullscreen)
      .row-fluid
         .col-md-12
            p.text-indent It is clear the Rihanna has a deep understanding of poverty in America. After making it big, she has come to feel sympathy for individuals who have not had successful music careers like herself. She wants to feed the poor, and wants to share her carefully prepared meals with everyone. It is in this song, "Cockiness", that Rihanna's charitable heart fully blesses us with its radiant glow.


   .container
      button#showCitations.btn.btn-default(style='display:none;') Show Citations ⇒
      #citations(style='display:none;')


block scripts
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
   script.
      $("#showCitations").show().click(function () {
         if ($("#citations").is(":hidden")) {
            $("#citations").fadeIn();
            $("#showCitations").text("Hide Citations ⇐");
         }
         else if ($("#citations").is(":visible")) {
            $("#citations").fadeOut();
            $("#showCitations").text("Show Citations ⇒");
         }
      });