//
   Created by Andrew on 11/12/2014.

extends layout

block head
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
   script(src="/js/highcharts/js/highcharts.js")
   script(src="/js/highcharts/js/highcharts-3d.js")
   script(src="/js/highcharts/js/modules/exporting.js")
   script.
      $(function () {
         // Give the points a 3D feel by adding a radial gradient
         Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function (color) {
            return {
               radialGradient: {
                  cx: 0.4,
                  cy: 0.3,
                  r: 0.5
               },
               stops: [
                  [0, color],
                  [1, Highcharts.Color(color).brighten(-0.2).get('rgb')]
               ]
            };
         });

         // Set up the chart
         var chart = new Highcharts.Chart({
            chart: {
               renderTo: 'chartContainer',
               margin: 100,
               type: 'scatter',
               options3d: {
                  enabled: true,
                  alpha: 10,
                  beta: 30,
                  depth: 250,
                  viewDistance: 5,
                  frame: {
                     bottom: {size: 1, color: 'rgba(0,0,0,0.02)'},
                     back: {size: 1, color: 'rgba(0,0,0,0.04)'},
                     side: {size: 1, color: 'rgba(0,0,0,0.06)'}
                  }
               }
            },
            title: {
               text: 'Lyrics, Money, and Wisdom'
            },
            subtitle: {
               text: "A view of rappers' lyricism, net worth, and experience in one chart"
            },
            plotOptions: {
               scatter: {
                  width: 1000000,
                  height: 35000,
                  depth: 50
               }
            },

            xAxis: {
               min: -15000000,
               max: 150000000,
               title: {
                  text: 'Net Worth'
               },
               gridLineWidth: 1
            },
            yAxis: {
               min: 0,
               max: 8000,
               title: {
                  text: 'Unique Words',
                  rotation: 0
               }
            },
            zAxis: {
               min: 0,
               max: 40,
               title: {
                  text: 'Years Active'
               }
            },
            legend: {
               enabled: false
            },

            series:
               [
                  {
                     //done
                     name: 'Nas',
                     data: [[17000000, 5096, 23]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Wu-tang Clan',
                     data: [[20000000, 5895, 22]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'DMX',
                     data: [[-10000000, 3214, 26]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Drake',
                     data: [[55000000, 3522, 13]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Bone Thugs-n-Harmony',
                     data: [[25000000, 3547, 23]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Lil Wayne',
                     data: [[140000000, 3743, 28]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Tupac',
                     data: [[40000000, 3970, 8]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Kendrick Lamar',
                     data: [[14000000, 4532, 11]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Mos Def',
                     data: [[1500000, 4630, 20]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'The Beastie Boys',
                     data: [[75000000, 5090, 31]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'A Tribe Called Quest',
                     data: [[5000000, 4601, 20]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Years Active : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Aesop Rock',
                     data: [[1000000, 7392, 18]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Experience : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Eminem',
                     data: [[1000000, 4494, 18]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Experience : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Nicki Minaj',
                     data: [[50000000, 4162, 10]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Experience : {point.z}'
                     }
                  },
                  {
                     //done
                     name: 'Tech N9ne',
                     data: [[13000000, 4830, 23]],
                     tooltip: {
                        headerFormat: '<b>{series.name}</b><br />',
                        pointFormat: 'Net Worth : {point.x}<br/>Lyricism : {point.y}<br/>Experience : {point.z}'
                     }
                  }
               ]
         });

         // Add mouse events for rotation
         $(chart.container).bind('mousedown.hc touchstart.hc', function (e) {
            e = chart.pointer.normalize(e);
            var posX = e.pageX,
                    posY = e.pageY,
                    alpha = chart.options.chart.options3d.alpha,
                    beta = chart.options.chart.options3d.beta,
                    newAlpha,
                    newBeta,
                    sensitivity = 5; // lower is more sensitive
            $(document).bind({
               'mousemove.hc touchdrag.hc': function (e) {
                  // Run beta
                  newBeta = beta + (posX - e.pageX) / sensitivity;
                  newBeta = Math.min(100, Math.max(-100, newBeta));
                  chart.options.chart.options3d.beta = newBeta;
                  // Run alpha
                  newAlpha = alpha + (e.pageY - posY) / sensitivity;
                  newAlpha = Math.min(100, Math.max(-100, newAlpha));
                  chart.options.chart.options3d.alpha = newAlpha;
                  chart.redraw(false);
               },
               'mouseup touchend': function () {
                  $(document).unbind('.hc');
               }
            });
         });
      });

block content
   h1 #{title}
   hr
   //- Use the 3d three point scatter plot.
      x = Unique words
      y = net worth
      z = years in the game

   #chartContainer(style="height: 400px")
   .container
      button#showCitations.btn.btn-default(style='display:none;') Show Citations ⇒
      #citations(style='display:none;')
         .col-md-4
            p
               | Unique word count of all rappers taken from
               a(href='http://rappers.mdaniels.com.s3-website-us-east-1.amazonaws.com/', target='_blank')  this study.
         .col-md-4
            p
               | Net worth of all rappers taken from
               a(href='http://www.celebritynetworth.com/', target='_blank')  this website.
         .col-md-4
            p
               | Years active of all rappers taken from
               a(href='https://www.wikipedia.org/', target='_blank')  this website.


block scripts
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
   script.
      $("#showCitations").show().click(function () {
         if ($("#citations").is(":hidden")) {
            $("#citations").fadeIn();
            $("#showCitations").text("Hide Citations ⇐");
         }
         else if ($("#citations").is(":visible")) {
            $("#citations").fadeOut();
            $("#showCitations").text("Show Citations ⇒");
         }
      });