//
   Created by Andrew on 11/12/2014.

extends layout

block head
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
   script(src="/js/highcharts/js/highcharts.js")
   script(src="/js/highcharts/js/highcharts-3d.js")
   script(src="/js/highcharts/js/modules/exporting.js")
   script.
      $(function () {
         // Give the points a 3D feel by adding a radial gradient
         Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function (color) {
            return {
               radialGradient: {
                  cx: 0.4,
                  cy: 0.3,
                  r: 0.5
               },
               stops: [
                  [0, color],
                  [1, Highcharts.Color(color).brighten(-0.2).get('rgb')]
               ]
            };
         });

         // Set up the chart
         var chart = new Highcharts.Chart({
            chart: {
               renderTo: 'chartContainer',
               margin: 100,
               type: 'scatter',
               options3d: {
                  enabled: true,
                  alpha: 10,
                  beta: 30,
                  depth: 250,
                  viewDistance: 5,
                  frame: {
                     bottom: {size: 1, color: 'rgba(0,0,0,0.02)'},
                     back: {size: 1, color: 'rgba(0,0,0,0.04)'},
                     side: {size: 1, color: 'rgba(0,0,0,0.06)'}
                  }
               }
            },
            title: {
               text: 'Lyrics, Money, and Wisdom'
            },
            subtitle: {
               text: "A comparison of rapper's lyricism, net worth, and experience"
            },
            plotOptions: {
               scatter: {
                  width: 1000000,
                  height: 35000,
                  depth: 50,
                  tooltip: {
                     crosshairs: true,
                     headerFormat: '<b>{series.name}</b>',
                     pointFormat: '<br /><b>Net Worth : {point.x}</b><br/>Lyricism : {point.y}<br/>Experience : {point.z}'
                  }
               }
            },
            yAxis: {
               min: 0,
               max: 35000,
               title: 'Unique Words'
            },
            xAxis: {
               min: 0,
               max: 1000000,
               title: 'Net Worth',
               gridLineWidth: 1
            },
            zAxis: {
               min: 0,
               max: 50,
               title: 'Years in the game'
            },
            legend: {
               enabled: false
            },
            series:

               [
                  {
                     name: 'The Notorious B.I.G.',
                     data: [[750000, 30000, 15]]
                  },
                  {
                     name: 'Nas',
                     data: [[500000, 20000, 20]]
                  },
                  {
                     name: 'Tupac',
                     data: [[600000, 25000, 30]]
                  }
               ]
         });

         // Add mouse events for rotation
         $(chart.container).bind('mousedown.hc touchstart.hc', function (e) {
            e = chart.pointer.normalize(e);
            var posX = e.pageX,
                    posY = e.pageY,
                    alpha = chart.options.chart.options3d.alpha,
                    beta = chart.options.chart.options3d.beta,
                    newAlpha,
                    newBeta,
                    sensitivity = 5; // lower is more sensitive
            $(document).bind({
               'mousemove.hc touchdrag.hc': function (e) {
                  // Run beta
                  newBeta = beta + (posX - e.pageX) / sensitivity;
                  newBeta = Math.min(100, Math.max(-100, newBeta));
                  chart.options.chart.options3d.beta = newBeta;
                  // Run alpha
                  newAlpha = alpha + (e.pageY - posY) / sensitivity;
                  newAlpha = Math.min(100, Math.max(-100, newAlpha));
                  chart.options.chart.options3d.alpha = newAlpha;
                  chart.redraw(false);
               },
               'mouseup touchend': function () {
                  $(document).unbind('.hc');
               }
            });
         });
      });

block content
   h1 #{title}
   hr
   //- Use the 3d three point scatter plot.
      x = Unique words
      y = net worth
      z = years in the game

   #chartContainer(style="height: 400px")


block scripts