//
   Created by Andrew on 11/11/2014.

extends layout

block head
   link(rel="stylesheet", src="/css/transitions.css")
   script(src="/js/jquery.collagePlus.min.js")
   script(src="/js/jquery.collageCaption.min.js")
   script(src="/js/jquery.removeWhitespace.min.js")
   script.
      // All images need to be loaded for this plugin to work so
      // we end up waiting for the whole window to load in this example
      $(window).load(function () {
        $(document).ready(function(){
            collage();
            $('.Collage').collageCaption();
        });
      });

      // Here we apply the actual CollagePlus plugin
      function collage() {
         $('.Collage').removeWhitespace().collagePlus(
            {
               'fadeSpeed'     : 2000,
               'targetHeight'  : 250,
               'effect'        : 'effect-6',
               'direction'     : 'vertical'
            });
      };

      // This is just for the case that the browser window is resized
      var resizeTimer = null;
      $(window).bind('resize', function() {
         // hide all the images until we resize them
         $('.Collage .Image_Wrapper').css("opacity", 0);

         // set a timer to re-apply the plugin
         if (resizeTimer) clearTimeout(resizeTimer);
         resizeTimer = setTimeout(collage, 200);
      });

block content
   h1 #{title)
   hr

   .Collage
      .Image_Wrapper.effect-duration-6(data-caption="A Tribe Called Quest - Low End Theory (1991)")
         img(src="/images/covers/atribecalledquest-lowendtheory-1991.jpg")
      img(src="/images/covers/ti-papertrail-2008.jpg")
      img(src="/images/covers/beastieboys-licensetoill-1986.jpg")
      img(src="/images/covers/thenotoriousbig-readytodie-1994.jpg")
      img(src="/images/covers/rundmc-kingofrock-1985.jpg")
      img(src="/images/covers/drdre-thechronic-1992.jpg")
      img(src="/images/covers/scarface-mrscarfaceisback.jpg")
      img(src="/images/covers/icecube-deathcertificate-1991.jpg")
      img(src="/images/covers/puffdaddy-nowayout-1997.jpg")
      img(src="/images/covers/getoboys-wecantbestopped-1991.jpg")
      img(src="/images/covers/outkast-atliens-1996.jpg")
      img(src="/images/covers/jay-z-reasonabledoubt-1996.jpg")
      img(src="/images/covers/publicenemy-ittakesanationofmillionstoholdusback-1988.jpg")
      img(src="/images/covers/wutangclan-36chambers-1993.jpg")
      img(src="/images/covers/kanyewest-graduation-2007.jpg")
      img(src="/images/covers/atribecalledquest-midnightmarauders-1993.jpg")
      img(src="/images/covers/kingtee-actafool-1988.jpg")
      img(src="/images/covers/drake-takecare-2011.jpg")
      img(src="/images/covers/oldirtybastard-returntothe36chambers-1995.jpg")
      img(src="/images/covers/pharcyde-bizarrerideiithepharcyde-1992.jpg")
      img(src="/images/covers/schoollyd-schoollyd-1986.jpg")
      img(src="/images/covers/nas-illmatic-1994.jpg")
      img(src="/images/covers/lilwayne-thecarteriii-2008.jpg")
      img(src="/images/covers/kmd-blackbastards-1994.jpg")
      img(src="/images/covers/epmd-businessasusual-1992.jpg")
      img(src="/images/covers/madvillian-madvilliany-2004.jpg")
      img(src="/images/covers/50cent-getrichordietryin-2003.jpg")
      img(src="/images/covers/kidcudi-manonthemoon-2009.jpg")