//
   Created by Andrew on 11/11/2014.

extends layout

block head
   script(src="js/jquery.collagePlus.min.js")
   script(src="/js/jquery.collageCaption.min.js")
   script(src="/js/jquery.removeWhitespace.min.js")
   link(rel="stylesheet", src="/css/transitions.css")

block content
   h1 #{title)
   hr