//
   Created by Andrew on 11/11/2014.

extends layout

block head
   link(rel="stylesheet", src="/css/transitions.css")
   script(src="/js/jquery.collagePlus.min.js")
   script(src="/js/jquery.collageCaption.min.js")
   script(src="/js/jquery.removeWhitespace.min.js")
   script.
      // All images need to be loaded for this plugin to work so
      // we end up waiting for the whole window to load in this example
      $(window).load(function () {
        $(document).ready(function(){
            collage();
            $('.Collage').collageCaption();
        });
      });

      // Here we apply the actual CollagePlus plugin
      function collage() {
         $('.Collage').removeWhitespace().collagePlus(
            {
               'fadeSpeed'     : 2000,
               'targetHeight'  : 200,
               'effect'        : 'effect-6',
               'direction'     : 'vertical',
               'effectDuration': 'effect-duration-10'
            });
      };

      // This is just for the case that the browser window is resized
      var resizeTimer = null;
      $(window).bind('resize', function() {
         // hide all the images until we resize them
         $('.Collage .Image_Wrapper').css("opacity", 0);

         // set a timer to re-apply the plugin
         if (resizeTimer) clearTimeout(resizeTimer);
         resizeTimer = setTimeout(collage, 200);
      });

block content
   h1 #{title)
   hr

   .Collage
      .Image_Wrapper(data-caption="A Tribe Called Quest - Low End Theory (1991)")
         img(src="/images/covers/atribecalledquest-lowendtheory-1991.jpg")

      .Image_Wrapper(data-caption="T.I. - Paper Trail (2008)")
         img(src="/images/covers/ti-papertrail-2008.jpg")

      .Image_Wrapper(data-caption="Beastie Boys - License to Ill (1986)")
         img(src="/images/covers/beastieboys-licensetoill-1986.jpg")

      .Image_Wrapper(data-caption="The Notorious B.I.G. - Ready to Die (1994)")
         img(src="/images/covers/thenotoriousbig-readytodie-1994.jpg")

      .Image_Wrapper(data-caption="Run DMC - King of Rock (1985)")
         img(src="/images/covers/rundmc-kingofrock-1985.jpg")

      .Image_Wrapper(data-caption="Dr. Dre - The Chronic (1992)")
         img(src="/images/covers/drdre-thechronic-1992.jpg")

      .Image_Wrapper(data-caption="Scarface - Mr. Scarface is Back (1991)")
         img(src="/images/covers/scarface-mrscarfaceisback-1991.jpg")

      .Image_Wrapper(data-caption="Ice Cube - Death Certificate (1991)")
         img(src="/images/covers/icecube-deathcertificate-1991.jpg")

      .Image_Wrapper(data-caption="Puff Daddy & the Family - No Way Out (1997)")
         img(src="/images/covers/puffdaddy-nowayout-1997.jpg")

      .Image_Wrapper(data-caption="Geto Boys - We Can't be Stopped (1991)")
         img(src="/images/covers/getoboys-wecantbestopped-1991.jpg")

      .Image_Wrapper(data-caption="Outkast - ATLiens (1996)")
         img(src="/images/covers/outkast-atliens-1996.jpg")

      .Image_Wrapper(data-caption="jay-Z - Reasonable Doubt (1996)")
         img(src="/images/covers/jay-z-reasonabledoubt-1996.jpg")

      .Image_Wrapper(data-caption="Public Enemy - It Takes a Nation of a Million to Hold us Back (1988)")
         img(src="/images/covers/publicenemy-ittakesanationofmillionstoholdusback-1988.jpg")

      .Image_Wrapper(data-caption="Wu-tang Clan - Enter the Wu-tang: 36 Chambers (1993)")
         img(src="/images/covers/wutangclan-36chambers-1993.jpg")

      .Image_Wrapper(data-caption="Kanye West - Graduation (2007)")
         img(src="/images/covers/kanyewest-graduation-2007.jpg")

      .Image_Wrapper(data-caption="A Tribe Called Quest - Midnight Marauders (1993)")
         img(src="/images/covers/atribecalledquest-midnightmarauders-1993.jpg")

      .Image_Wrapper(data-caption="King Tee - Act a Fool (1988)")
         img(src="/images/covers/kingtee-actafool-1988.jpg")

      .Image_Wrapper(data-caption="Drake - Take Care (2011)")
         img(src="/images/covers/drake-takecare-2011.jpg")

      .Image_Wrapper(data-caption="Ol' Dirty Bastard - Return to the 36 Chambers: The Dirty Version (1995)")
         img(src="/images/covers/oldirtybastard-returntothe36chambers-1995.jpg")

      .Image_Wrapper(data-caption="Pharcyde - Bizarre Ride II the Pharcyde (1992)")
         img(src="/images/covers/pharcyde-bizarrerideiithepharcyde-1992.jpg")

      .Image_Wrapper(data-caption="Schoolly D - Schoolly D (1986)")
         img(src="/images/covers/schoollyd-schoollyd-1986.jpg")

      .Image_Wrapper(data-caption="Nas - Illmatic (1994)")
         img(src="/images/covers/nas-illmatic-1994.jpg")

      .Image_Wrapper(data-caption="Lil Wayne - The Carter III (2008)")
         img(src="/images/covers/lilwayne-thecarteriii-2008.jpg")

      .Image_Wrapper(data-caption="KMD - Black Bastards (1994)")
         img(src="/images/covers/kmd-blackbastards-1994.jpg")

      .Image_Wrapper(data-caption="EPMD - Business as Usual (1992)")
         img(src="/images/covers/epmd-businessasusual-1992.jpg")

      .Image_Wrapper(data-caption="Madvillian - Madvilliany (2004)")
         img(src="/images/covers/madvillian-madvilliany-2004.jpg")

      .Image_Wrapper(data-caption="50 Cent - Get Rich or Die Tryin' (2003)")
         img(src="/images/covers/50cent-getrichordietryin-2003.jpg")

      .Image_Wrapper(data-caption="Kid Cudi - Man on the Moon: The End of Day (2009)")
         img(src="/images/covers/kidcudi-manonthemoon-2009.jpg")