//
   Created by Andrew on 11/11/2014.

extends layout

block head
   script(src="/js/jquery.collagePlus.min.js")
   script(src="/js/jquery.collageCaption.min.js")
   script(src="/js/jquery.removeWhitespace.min.js")
   link(rel="stylesheet", src="/css/transitions.css")

block content
   h1 #{title)
   hr

   .Collage
      img(src="/images/covers/atribecalledquest-lowendtheory-1991.jpg", width="200", height="200")
      img(src="/images/covers/ti-papertrail-2008.jpg", width="300", height="300")
      img(src="/images/covers/beastieboys-licensetoill-1986.jpg", width="150", height="150")
      img(src="/images/covers/thenotoriousbig-readytodie-1994.jpg", width="400", height="400")
      img(src="/images/covers/rundmc-kingofrock-1985.jpg", width="250", height="250")
      img(src="/images/covers/drdre-thechronic-1992.jpg", width="175", height="175")
      img(src="/images/covers/scarface-mrscarfaceisback.jpg", width="275", height="275")
      img(src="/images/covers/icecube-deathcertificate-1991.jpg", width="350", height="350")
      img(src="/images/covers/puffdaddy-nowayout-1997.jpg", width="225", height="225")
      img(src="/images/covers/getoboys-wecantbestopped-1991.jpg", width="100", height="100")
      img(src="/images/covers/outkast-atliens-1996.jpg", width="125", height="125")
      img(src="/images/covers/jay-z-reasonabledoubt-1996.jpg", width="300", height="300")
      img(src="/images/covers/publicenemy-ittakesanationofmillionstoholdusback-1988.jpg", width="200", height="200")
      img(src="/images/covers/wutangclan-36chambers-1993.jpg", width="450", height="450")
      img(src="/images/covers/kanyewest-graduation-2007.jpg", width="250", height="250")
      img(src="/images/covers/atribecalledquest-midnightmarauders-1993.jpg", width="125", height="125")
      img(src="/images/covers/kingtee-actafool-1988.jpg", width="150", height="150")
      img(src="/images/covers/drake-takecare-2011.jpg", width="225", height="225")
      img(src="/images/covers/oldirtybastard-returntothe36chambers-1995.jpg", width="200", height="200")
      img(src="/images/covers/pharcyde-bizarrerideiithepharcyde-1992.jpg", width="175", height="175")
      img(src="/images/covers/schoollyd-schoollyd-1986.jpg", width="225", height="225")
      img(src="/images/covers/nas-illmatic-1994.jpg", width="300", height="300")
      img(src="/images/covers/lilwayne-thecarteriii-2008.jpg", width="100", height="100")
      img(src="/images/covers/kmd-blackbastards-1994.jpg", width="200", height="200")
      img(src="/images/covers/epmd-businessasusual-1992.jpg", width="125", height="125")
      img(src="/images/covers/madvillian-madvilliany-2004.jpg", width="250", height="250")
      img(src="/images/covers/50cent-getrichordietryin-2003.jpg", width="200", height="200")
      img(src="/images/covers/kidcudi-manonthemoon-2009.jpg", width="150", height="150")

   script.
      $('.Collage').collagePlus({
         // change this to adjust the height of the rows
         'targetHeight': 100,
         // change this to try different effects
         // valid effects = effect-1 to effect-6
         'effect': "effect-1"
      });
