//
   Created by Andrew on 11/11/2014.

extends layout

block head
   script(src="/js/jquery.collagePlus.min.js")
   script(src="/js/jquery.collageCaption.min.js")
   script(src="/js/jquery.removeWhitespace.min.js")
   link(rel="stylesheet", src="/css/transitions.css")

block content
   h1 #{title)
   hr

   .Collage
      img(src="/images/covers/atribecalledquest-lowendtheory-1991.jpg", width="500", height="500")
      img(src="/images/covers/ti-papertrail-2008.jpg", width="500", height="500")
      img(src="/images/covers/beastieboys-licensetoill-1986.jpg", width="500", height="500")
      img(src="/images/covers/thenotoriousbig-readytodie-1994.jpg", width="500", height="500")
      img(src="/images/covers/rundmc-kingofrock-1985.jpg", width="500", height="500")
      img(src="/images/covers/drdre-thechronic-1992.jpg", width="500", height="500")
      img(src="/images/covers/scarface-mrscarfaceisback.jpg", width="500", height="500")
      img(src="/images/covers/icecube-deathcertificate-1991.jpg", width="500", height="500")
      img(src="/images/covers/puffdaddy-nowayout-1997.jpg", width="500", height="500")
      img(src="/images/covers/getoboys-wecantbestopped-1991.jpg", width="500", height="500")
      img(src="/images/covers/outkast-atliens-1996.jpg", width="500", height="500")
      img(src="/images/covers/jay-z-reasonabledoubt-1996.jpg", width="500", height="500")
      img(src="/images/covers/publicenemy-ittakesanationofmillionstoholdusback-1988.jpg", width="500", height="500")
      img(src="/images/covers/wutangclan-36chambers-1993.jpg", width="500", height="500")
      img(src="/images/covers/kanyewest-graduation-2007.jpg", width="500", height="500")
      img(src="/images/covers/atribecalledquest-midnightmarauders-1993.jpg", width="500", height="500")
      img(src="/images/covers/kingtee-actafool-1988.jpg", width="500", height="500")
      img(src="/images/covers/drake-takecare-2011.jpg", width="500", height="500")
      img(src="/images/covers/oldirtybastard-returntothe36chambers-1995.jpg", width="500", height="500")
      img(src="/images/covers/pharcyde-bizarrerideiithepharcyde-1992.jpg", width="500", height="500")
      img(src="/images/covers/schoollyd-schoollyd-1986.jpg", width="500", height="500")
      img(src="/images/covers/nas-illmatic-1994.jpg", width="500", height="500")
      img(src="/images/covers/lilwayne-thecarteriii-2008.jpg", width="500", height="500")
      img(src="/images/covers/kmd-blackbastards-1994.jpg", width="500", height="500")
      img(src="/images/covers/epmd-businessasusual-1992.jpg", width="500", height="500")
      img(src="/images/covers/madvillian-madvilliany-2004.jpg", width="500", height="500")
      img(src="/images/covers/50cent-getrichordietryin-2003.jpg", width="500", height="500")
      img(src="/images/covers/kidcudi-manonthemoon-2009.jpg", width="500", height="500")

   script.
      $(window).load(function () {
         $('.Collage').collagePlus();
      });
