extends layout

block content
   h1 Three Tragic Deaths

   hr
   br

   h2 Biggie Smalls
   p.text-indent
      | Biggie Smalls, otherwise known as "The Notorious B.I.G.", was born as Christopher George Latore Wallace on May 21, 1972 in Brooklyn, New York. To the hip-hop community, it came as no surprise that Biggie was murdered. Looking at his albums titled "Ready to Die" and "Life after Death", as well as a song like "Suicidal Thoughts", it's obvious to see that Biggie was expecting to die in the prime of his life. In fact, he had be evading death all of his life. Prior to his rap career, Biggie commited more thefts than I can write down here and spent a great deal of time in prison. To give you an idea, he once said "Hustlers were my heroes... Everything happened on the strip I grew up in. It didn't matter where you went, it was all in your face." For Biggie, there was no escaping the life of a criminal. As his rap career progressed, Biggie became more and more involved in the east coast - west coast rivalry. Moreover, he became more anxious and fearful of his own life. He told the New York Times that he would jump whenever he heard his apartment door opening, fearing that someone may want to hurt him. After Tupac Shakur's death in 1996, Biggie feared for his life even more.
      br
      | Ultimately, Biggie's biggest fear happened outside of his apartment walls. On March 9, 1997, Biggie was seen leaving the Soul Train Music Awards in Los Angeles, California in an SUV. While stopped at a traffic light, a car pulled up next to him, and the driver opened fire at Biggie sitting in the passenger's seat of the SUV. Four shots entered his body, the last of which being fatal. At that moment, Biggie's greatest fears became very real as he died in the passenger's seat just after he was shot.
      br
      | During his active years, Biggie was considering the face of east coast hip-hop. It goes without saying that the hip-hop community, especially on the east coast, was torn to pieces when hearing the news. There is still a great deal of mystery surrounding his death, however some clues have hinted towards the idea that two former LAPD officers have been linked to his death.
      br
      | Ironically enough, Biggie's second album titled <i>Life After Death</i> was released about a week after his death, followed years later by two other albums of unreleased material. To this day, Biggie is still one of the most admired hip-hop artists, as many modern musicians continue to pay tribute to his style.

   hr
   br
   br

   h2 Tupac Shakur
   p.text-indent 2Pac was born as Tupac Shakur on June 16, 1971 in Harlem, New York. The death of Tupac is by far the most tragic death the hip-hop community has ever seen. In fact, his death in 1996 is still talked about and remains a mystery to this day. As a rapper, Tupac has been considered the most influential rapper of all time as well as one of the greatest artists of all time. Each of his songs had more heart and imagery than any other modern rapper of today. With his talent and fame, it's pretty obvious that someone out there would really want him dead. This especially held true when Tupac and another Wu-tang clan member were victims of a robbery allegedly organized by Biggie. Tupac

   hr
   br
   br

   h2 Jam Master Jay
   p.text-indent

   br
   br

   .container
      button#showCitations.btn.btn-default(style='display:none;') Show Citations ⇒
      #citations(style='display:none;')
         .col-md-4
            h4.text-center Biggie Smalls
            p.text-center
               a(href='http://www.biography.com/people/biggie-smalls-20866735', target='_blank') Biography
         .col-md-4
            h4.text-center Tupac Shakur
            p.text-center
               a(href='http://www.biography.com/people/tupac-shakur-206528', target='_blank') Biography
         .col-md-4
            h4.text-center Jam Master Jay
            p.text-center
               a(href='http://www.rollingstone.com/music/artists/jam-master-jay/biography', target='_blank') Biography


block scripts
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
   script.
      $("#showCitations").show().click(function () {
         if ($("#citations").is(":hidden")) {
            $("#citations").fadeIn();
            $("#showCitations").text("Hide Citations ⇐");
         }
         else if ($("#citations").is(":visible")) {
            $("#citations").fadeOut();
            $("#showCitations").text("Show Citations ⇒");
         }
      });