extends layout

block content
   h1 Three Tragic Deaths
   hr
   br
   h1 Biggie Smalls
   p.text-indent Biggie Smalls, otherwise known as "The Notorious B.I.G.", was born as Christopher Wallace on May 21, 1972 in Brooklyn, New York. To the hip-hop community, it came as no surprise that Biggie was murdered. Looking at his albums titled "Ready to Die" and "Life after Death", as well as a song like "Suicidal Thoughts", it's obvious to see that Biggie was expecting to die in the prime of his life. In fact, he had be evading death all of his life. Prior to his rap career, Biggie commited more thefts than I can write down here and spent a great deal of time in prison. To give you an idea, he once said "Hustlers were my heroes... Everything happened on the strip I grew up in. It didn't matter where you went, it was all in your face." For Biggie, there was no escaping the life of a criminal.