extends layout

block content
   h1 Three Tragic Deaths

   hr
   br

   h2 Biggie Smalls
   p.text-indent Biggie Smalls, otherwise known as "The Notorious B.I.G.", was born as Christopher George Latore Wallace on May 21, 1972 in Brooklyn, New York. To the hip-hop community, it came as no surprise that Biggie was murdered. Looking at his albums titled "Ready to Die" and "Life after Death", as well as a song like "Suicidal Thoughts", it's obvious to see that Biggie was expecting to die in the prime of his life. In fact, he had be evading death all of his life. Murder and drugs were all around him as a teenager, and he soon became a part of that life without choice. He once stated "Hustlers were my heroes... Everything happened on the strip I grew up in. It didn't matter where you went, it was all in your face." For Biggie, there was no escaping the life of a criminal. As his rap career progressed, Biggie became more and more involved in the east coast - west coast rivalry. Moreover, he became more anxious and fearful of his own life. He told the New York Times that he would jump whenever he heard his apartment door opening, fearing that someone may want to hurt him. After Tupac Shakur's death in 1996, Biggie feared for his life even more.
   br
   p.text-indent Ultimately, Biggie's biggest fear happened outside of his apartment walls. On March 9, 1997, Biggie was seen leaving the Soul Train Music Awards in Los Angeles, California in an SUV. While stopped at a traffic light, a car pulled up next to him, and the driver opened fire at Biggie sitting in the passenger's seat of the SUV. Four shots entered his body, the last of which being fatal. At that moment, Biggie's greatest fears became very real as he died in the passenger's seat just after he was shot.
   br
   p.text-indent During his active years, Biggie was considering the face of east coast hip-hop. It goes without saying that the hip-hop community, especially on the east coast, was torn to pieces when hearing the news. There is still a great deal of mystery surrounding his death, however some clues have hinted towards the idea that two former LAPD officers have been linked to his death.
   br
   p.text-indent Ironically enough, Biggie's second album titled <i>Life After Death</i> was released about a week after his death, followed years later by two other albums of unreleased material. To this day, Biggie is still one of the most admired hip-hop artists, as many modern musicians continue to pay tribute to his style.

   hr
   br
   br

   h2 Tupac Shakur
   p.text-indent 2Pac was born as Tupac Shakur on June 16, 1971 in Harlem, New York. The death of Tupac is by far the most tragic death the hip-hop community has ever seen. In fact, his death in 1996 is still talked about and remains a mystery to this day. As a rapper, Tupac has been considered the most influential rapper of all time as well as one of the greatest artists of all time. Each of his songs had more heart and imagery than any other modern rapper of today. With his talent and fame, especially for a rapper that came out of a rough neighborhood, it's obvious that someone out there would have wanted him dead. This especially held true when Tupac and another Wu-tang clan member were victims of a robbery allegedly organized by Biggie. Tupac put a huge target on his chest after making a song called "Hit 'Em Up" in response to that incident, in which he makes direct threats to Biggie's life and claimed to have slept with his wife, Faith Evans.
   br
   p.text-indent The idea that Tupac would die as a result of violence didn't heat up until his album <i>Me Against The World</i> was released in 1995. A near death for Tupac was hinted towards on several tracks on the album. However, as time progressed, things started to look up for Tupac. He released his album <i>All Eyez On Me</i> which had tracks including "California Love" and "How Do You Want It" that topped the pop charts. He also began to pursue his acting career, such as co-starring in a crime drama called <i>Bullet</i> with Mickey Rouke.
   br
   p.text-indent Unfortunately, even as things were looking up for Tupac, he was still well involved in the east coast - west coast rivalry and continued to draw targets on his back by publicly insulting other rappers. During a boxing match on September 7, 1996, Tupac got into a brawl with another antendee and left the match immediately after. While stopped at a traffic light, just like Biggie, someone pulled up beside him and shot him multiple times. The police officer that was on the scene said that when he opened the door, Tupac fell out into his arms, slowly losing conciousness. The officer tried to get as much information as possible about who may have killed him, however Tupac was not responding. The last words Tupac muttered while in the arms of a police officer was "Fuck you", just as he lost conciousness. This is very telling of the type of environment he grew up in. Tupac died while in a medically induced coma on September 13, 1996 at age 25.
   br
   p.text-indent As I said before, Tupac was on of the most influential artists of all time. With his death before Biggie's, this was the first major death the hip-hop community had seen, and it mourned as such. However, in a more positive light, Tupac's life has inspired several books and plays across United States. While Biggie was the face of the east coast, Tupac was the face of hip-hop as a whole. And in 20 years, this still has not changed.

   hr
   br
   br

   h2 Jam Master Jay
   p.text-indent Jam Master Jay was born as Jason Mizell on January 21, 1965 in Brooklyn New York. Even at an early age, Jay was very musically inclined. He learned to play the trumpet at age 3, grew up learning guitar, bass, and drums, and began experimenting with turntables at age 13. As a teenager, Jay was already throwing parties and DJing for events in Hollis, Queens in New York City. All his life, Jay had chosen to surround himself around music.
   br
   p.text-indent Jay soon became one of the most recognizable DJs of the late 80s and early 90s because of his unique, edgy style of DJing. Jay became the DJ of the hip-hop group Run-D.M.C., one of the most influential rap groups of all time. His work with Run-D.M.C. helped to bring hip-hop into the mainstream, especially with the platinum selling album titled <i>Raising Hell</i>. From that album, the song "Walk This Way", a remix of the hit song by Aerosmith, featured Jam Master Jay's turntable abilities and Run-D.M.C.'s lyrical abilities, which helped them push their way into the mainstream of music. However, years later, Run-D.M.C. separated and Jay went on to do solo work to continue his career. Nevertheless, he reformed with the group in 2000 and went on a joint tour with Aerosmith.\
   br
   p.text-indent Up to this point, there is nothing that would hint to Jay being involved in any sort of violence. Jay had a wife, kids, and was regarded as a very genuine person. He led a very steady and modest life. But on October 30, 2002, Jay was in his recording studio with Urieco Rincon when two men entered the building. The two men ordered for both Jason and Urieco to get on the ground when they shot them both. While Urieco was shot in the ankle and lived, Jay was shot and killed in his recording studio, doing what he loved.
   br
   p.text-indent Unlike Tupac and Biggie, Jay's death came as a surprise and rendered the hip-hop community in shock. No one had ever expected a man like Jay, with a wife and kids, to be shot unexpectedly in a recording studio. Jay left behind a legacy that has yet to be untouched. Yet, this is not only due to his music. Jay showed the world that rappers don't have to be "gangsta" to be successful. He demonstrated that leading a modest life and spending your life doing what you love can make you successful.

   .container
      button#showCitations.btn.btn-default(style='display:none;') Show Citations ⇒
      #citations(style='display:none;')
         .col-md-4
            h4.text-center Biggie Smalls
            p.text-center
               a(href='http://www.biography.com/people/biggie-smalls-20866735', target='_blank') Biography
         .col-md-4
            h4.text-center Tupac Shakur
            p.text-center
               a(href='http://www.biography.com/people/tupac-shakur-206528', target='_blank') Biography
         .col-md-4
            h4.text-center Jam Master Jay
            p.text-center
               a(href='http://www.allmusic.com/artist/jam-master-jay-mn0001600874/biography', target='_blank') Biography


block scripts
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
   script.
      $("#showCitations").show().click(function () {
         if ($("#citations").is(":hidden")) {
            $("#citations").fadeIn();
            $("#showCitations").text("Hide Citations ⇐");
         }
         else if ($("#citations").is(":visible")) {
            $("#citations").fadeOut();
            $("#showCitations").text("Show Citations ⇒");
         }
      });