extends layout

block content
   h1 Three Tragic Deaths

   hr
   br

   h2 Biggie Smalls
   p.text-indent Biggie Smalls, otherwise known as "The Notorious B.I.G.", was born as Christopher Wallace on May 21, 1972 in Brooklyn, New York. To the hip-hop community, it came as no surprise that Biggie was murdered. Looking at his albums titled "Ready to Die" and "Life after Death", as well as a song like "Suicidal Thoughts", it's obvious to see that Biggie was expecting to die in the prime of his life. In fact, he had be evading death all of his life. Prior to his rap career, Biggie commited more thefts than I can write down here and spent a great deal of time in prison. To give you an idea, he once said "Hustlers were my heroes... Everything happened on the strip I grew up in. It didn't matter where you went, it was all in your face." For Biggie, there was no escaping the life of a criminal. As his rap career progressed, Biggie became more and more involved in the east coast - west coast rivalry. In fact, some conspiracy theories say that Tupac hired someone to kill him, since Tupac made a song called "Hit 'Em Up", where he viciously insults Biggie throughout the song.

   hr
   br
   br

   h2 Tupac
   p.text-indent 2Pac was born as Tupac Shakur on June 16, 1971 in Harlem, New York. The death of Tupac is by far the most tragic death the hip-hop community has ever seen. In fact, his death in 1996 is still talked about and remains a mystery to this day. As a rapper, Tupac has been considered the most influential rapper of all time as well as one of the greatest artists of all time. Each of his songs had more heart and imagery than any other modern rapper of today. With his talent and fame, it's pretty obvious that someone out there would really want him dead.

   hr
   br
   br

   h2 Jam Master Jay
   p.text-indent