extends layout

block content
  h1 The True Story of Hip-Hop
  hr
  .jumbotron.jumbotronBoxShadow
    h1 Introduction
    p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  hr
  .row
    .col-sm-6
      h2 Three Tragic Deaths
      p Tupac, Biggie, and Jam Master Jay. Three deaths that took the hip-hop community by surprise. Though over a decade has passed, the deaths of these influential rappers are still unsolved and remain highly controversial
      p Note to professor: This genre will be structured as a blog post, yet it will be my research portion of the assignment.
      p
        a.btn.btn-default(href='/deaths', role='button') Read More »
    .col-sm-6
      h2 Theft or Homage?
      p Take a look at these lyrics. Are they stealing them from the rapper who debuted them, or are they just paying homage?
      p Note to professor: This is a genre that compares two similar lines from songs, analyzes them, explains the rappers' relationship with each other, and decides "theft" or "homage" based on that info.
      p
        a.btn.btn-default(href='/theftorhomage', role='button') Take a Look »
    .col-sm-6
      h2 It Ain't Always Rugged
      p Hip-hop is notorious for being sterotyped as profane, offensive, and way too rugged. What most people don't see are the rapper that pour their heart out into their tracks. Check out some of the deepest verses in hip-hop. For the lyrically impaired, we've provided translations.
      p Note to professor: this is a genre that essentially "translates" rap verses.
      p
        a.btn.btn-default(href='/rugged', role='button') Check It Out »
    .col-sm-6
      h2 Top 10 Deepest Verses in Hip-Hop History
      p There's so much hip-hop out there, and so many great verses, but some verses speak more than others. Check out the top 10 deepest verses in hip-hop history.
      p Note to professor: This genre is a top 10 list only
      p
        a.btn.btn-default(href='/top10verses', role='button') Let's Do It »
    .col-sm-6
      h2 test test test test
      p Filler Text
      p
        a.btn.btn-default(href='#', role='button') View details »