extends layout

block content
  h1 The True Story of Hip-Hop
  hr
  .row
    .col-sm-6
      h2 Three Tragic Hip-Hop Deaths
      p Filler Text
      p
        a.btn.btn-default(href='#', role='button') Read More »
    .col-sm-6
      h2 Theft or Homage?
      p Take a look at these lyrics. Are they stealing them from the rapper who debuted them, or are they just paying homage?
      p
        a.btn.btn-default(href='#', role='button') Take a Look »
    .col-sm-6
      h2 It Ain't Always Rugged
      p Hip-hop is notorious for being sterotyped as profane, offensive, and way too rugged. What most people don't see are the rapper that pour their heart out into their tracks. Check out some of the deepest verses in hip-hop. For the lyrically impaired, we've provided translations.
      p
        a.btn.btn-default(href='#', role='button') Check It Out »
    .col-sm-6
      h2 Some Other Genre
      p Filler Text
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Some Other Genre
      p Filler Text
      p
        a.btn.btn-default(href='#', role='button') View details »