extends layout

block content
  h1 The True Story of Hip-Hop
  hr
  .row
    .col-sm-6
      h2 Three Tragic Hip-hop Deaths
      p Filler Text
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Theft or Paying Homage?
      p Filler Text
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Filler Text
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Filler Text
      p
        a.btn.btn-default(href='#', role='button') View details »