extends layout

block content
  h1 The True Story of Hip-Hop
  hr
  .row
    .col-sm-6
      h2 Three Tragic Deaths
      p Tupac, Biggie, and Jam Master Jay. Three deaths that took the hip-hop community by surprise. Though over a decade has passed, the deaths of these influential rappers are still unsolved and remain highly controversial
      p
        a.btn.btn-default(href='/deaths', role='button') Read More ⇒
    .col-sm-6
      h2 Theft or Homage?
      p Take a look at these lyrics. Are they stealing them from the rapper who debuted them, or are they just paying homage?
      p
        a.btn.btn-default(href='/theftorhomage', role='button') Take a Look ⇒
    .col-sm-6
      h2 It Ain't Always Rugged
      p Hip-hop is notorious for being sterotyped as profane, offensive, and way too rugged. What most people don't see are the rapper that pour their heart out into their tracks. Check out some of the deepest verses in hip-hop. For the lyrically impaired, we've provided translations.
      p
        a.btn.btn-default(href='/rugged', role='button') Let's Do It ⇒
    .col-sm-6
      h2 Album Collage
      p Hip-hop albums are notorious for having very unique and artistic album covers. Check out a collage of some of the best album art in hip-hop history.
      p
        a.btn.btn-default(href='/collage', role='button') Check It Out ⇒
    .col-sm-6
      h2 Lyric Chart
      p Some lyrics put into a chart, yo
      p
        a.btn.btn-default(href='/chart', role='button') Whoa, No Way! ⇒