extends layout

block content
  .row
    .col-lg-4.col-md-4.col-sm-4
      h3.text-center Three Tragic Deaths
      p.text-center Tupac, Biggie Smalls, and Jam Master Jay. Three deaths that took the hip-hop community by surprise. Though over a decade has passed, the deaths of these influential rappers are still unsolved and remain highly controversial
      p
        a.btn.btn-default(href='/deaths', role='button', style="display:block;") Read More ⇒

    .col-lg-4.col-md-4.col-sm-4
      h1.text-center Hip-Hop: Based on a True Story

    .col-lg-4.col-md-4.col-sm-4
      h3.text-center Theft or Homage?
      p.text-center Take a look at these lyrics. Are they stealing them from the rapper who debuted them, or are they just paying homage?
      p
        a.btn.btn-default(href='/theftorhomage', role='button', style="display:block;") Take a Look ⇒


  .row
    .col-lg-4.col-md-4.col-sm-4
      h3.text-center It Ain't Always Rugged
      p.text-center Hip-hop is notorious for being sterotyped as profane, offensive, and way too rugged. What most people don't see are the rapper that pour their heart out into their tracks. Check out some of the deepest verses in hip-hop. For the lyrically impaired, we've provided translations.
      p
        a.btn.btn-default(href='/rugged', role='button', style="display:block;") Let's Do It ⇒

    .col-lg-4.col-md-4.col-sm-4
      h3.text-center Album Collage
      p.text-center Hip-hop albums are notorious for having very unique and artistic album covers. Check out a collage of some of the best album art in hip-hop history.
      p
        a.btn.btn-default(href='/collage', role='button', style="display:block;") Check It Out ⇒

    .col-lg-4.col-md-4.col-sm-4
      h3.text-center Lyrics, Money, and Wisdom
      p.text-center No one has ever done this before. This chart you are about to see uses various studies and sources of rappers' lyricism, net worth, and years in the rap game and compiles it all into a 3d chart. Seriously, no one has ever done this before.
      p
        a.btn.btn-default(href='/chart', role='button', style="display:block;") Whoa, No Way! ⇒