doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='Andrew Jarvis')
    != css('styles')
    block head
    title #{title} | The True Story of Hip-Hop

  body
    include partials/navbar
    include partials/flash

    if noBox
      .collage-container
        block content
    else
      include partials/introduction

        .drop-shadow.home-container
          block content

    include partials/footer
    != js('application')
    block scripts