//
   Created by Andrew on 11/3/2014.

extends layout

block content
   h1 #{title}
   figure
      blockquote
         p Crack mothers, crack babies and AIDS patients/Youngbloods can't spell, but they could rock you in PlayStation.
         p Mos Def - Mathematics
