//
   Created by Andrew on 11/3/2014.

extends layout

block content
   // h1 #{title)
   hr
   .row
      .col-md-1
         h1 10.
      .col-md-6
         blockquote
            | Crack mothers, crack babies and AIDS patients,
            br
            | Youngbloods can't spell, but they could rock you in PlayStation.
            cite Mos Def "Mathematics"
      .col-md-5
         iframe(width="100%", height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/5609935&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false")
   .row
      .col-md-1
         h1 9.
      .col-md-6
         blockquote
            | I can mingle with the stars and throw a party on Mars,
            br
            | I am a prisoner, locked up behind Xanax bars.
            cite Mos Def "Mathematics"
      .col-md-5
         iframe(width="100%", height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/22621285&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false")