//
   Created by Andrew on 11/3/2014.

extends layout

block content
   h1 #{title)
   hr
   .row
      .col-md-1
         h2 10.
      .col-md-6
         blockquote
            | Swimming laps around a bottle of Louis the Thirteenth
            br
            | Jumpin' off of a mountain into a sea of Codeine
            br
            | I'm at the top of the top, but... still I climb
            br
            | And if I should ever fall, the ground would then turn to wine
            cite Lil Wayne on "I Feel Like Dying"
      .col-md-5
         iframe(width="100%", height="100", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/22621285&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false")

   hr(align="center", width="83%", height="2px")
   br

   .row
      .col-md-1
         h2 9.
      .col-md-6
         blockquote
            | If skills sold, truth be told, I'd probably be
            br
            | Lyrically, Talib Kweli
            br
            | Truthfully, I wanna rhyme like Common Sense
            br
            | But I did 5 mill -- I ain't been rhyming like Common since
            cite Jay-Z on "Moment of Clarity"
      .col-md-5

   hr(align="center", width="83%", height="2px")
   br

   .row
      .col-md-1
         h2 8.
      .col-md-6
         blockquote
            | All my life I been considered as the worst
            br
            | Lying to my mother, even stealing out her purse
            br
            | Crime after crime, from drugs to extortion
            br
            | I know my mother wished she got a fucking abortion
            br
            | She don't even love me like she did when I was younger
            br
            | Sucking on her chest just to stop my fucking hunger
            br
            | I wonder if I died, would tears come to her eyes
            br
            | Forgive me for my disrespect, forgive me for my lies
            cite Notorious B.I.G. on "Suicidal Thoughts"
      .col-md-5
         iframe(width="100%", height="100", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/22621285&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false")

   hr(align="center", width="83%", height="2px")
   br

   .row
      .col-md-1
         h2 7.
      .col-md-6
         blockquote
            | What's your life about, enlighten me
            br
            | Is you gonna live on your knees, or die on your feet
            br
            | Take out that student loan, and pay off your college degree
            br
            | And do exactly what you see on TV
            cite Ab-Soul on Ab-Soul's Outro
      .col-md-5

   hr(align="center", width="83%", height="2px")
   br

   .row
      .col-md-1
         h2 6.
      .col-md-6
         blockquote
            | Crack mothers, crack babies and AIDS patients
            br
            | Youngbloods can't spell, but they could rock you in PlayStation
            cite Mos Def on "Mathematics"
      .col-md-5
         iframe(width="100%", height="100", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/5609935&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false")

   hr(align="center", width="83%", height="2px")
   br

   .row
      .col-md-1
         h2 5.
      .col-md-6
         blockquote
            | The hardest thing is to forgive, but God does
            br
            | Even if you murdered or robbed, yeah it's wrong, but God loves
            br
            | Take one step toward him, He takes two toward you
            br
            | Even when all else fail, God support you
            cite Nas on "Doo Rags"
      .col-md-5
         iframe(width="100%", height="100", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/22621285&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false")

   hr(align="center", width="83%", height="2px")
   br

   .row
      .col-md-1
         h2 4.
      .col-md-6
         blockquote
            | What the fuck am I supposed to do when he’s telling me ‘Dad I need some food?'
            br
            | I’m looking down at my stomach and mine is grumbling too
            br
            | What can I tell him when he’s twenty-two
            br
            | And he’s asking me what the fuck I was thinking when mommy’s tummy grew?
            cite Blu on "Show Me The Good Life"
      .col-md-5
         iframe(width="100%", height="100", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/82431951&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")

   hr(align="center", width="83%", height="2px")
   br

   .row
      .col-md-1
         h2 3.
      .col-md-6
         blockquote
            | And I'm not sure why I'm infatuated with death
            br
            | My imagination is surely an aggravation of threats…
            br
            | Maybe cause I'm a dreamer and sleep is the cousin of death
            br
            | Really stuck in the scheme of wondering when I'mma rest
            cite Kendrink Lamar on "Sing About Me, I'm Dying of Thirst"
      .col-md-5
         iframe(width="100%", height="100", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/67606846&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")

   hr(align="center", width="83%", height="2px")
   br

   .row
      .col-md-1
         h2 2.
      .col-md-6
         blockquote
            | I know how it feels to wake up fucked up
            br
            | Pockets broke as hell, another rock to sell
            br
            | People look at you like you’s the user
            br
            | Selling drugs to all the losers, mad buddha abuser
            br
            | But they don’t know about the stress-filled day…
            br
            | Baby on the way, mad bills to pay
            br
            | That’s why you drink Tanqueray
            br
            | So you can reminisce and wish
            br
            | You wasn’t living so devilish, shit
            cite The Notorious B.I.G. on "Everyday Struggles"
      .col-md-5
         iframe(width="100%", height="100", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/22621285&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false")

   hr(align="center", width="83%", height="2px")
   br

   .row
      .col-md-1
         h2 1.
      .col-md-6
         blockquote
            | First ship 'em dope and let 'em deal to brothers
            br
            | Give 'em guns, step back and watch 'em kill each other
            br
            | 'It's time to fight back,' that's what Huey said
            br
            | Two shots in the dark, now Huey's dead
            cite 2Pac on "Changes"
      .col-md-5
         iframe(width="100%", height="100", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/22621285&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false")