//
   Created by Andrew on 11/3/2014.
extends layout
block content
   h1 #{title}
   hr(align="center", width="83%", height="2px")
   //- Ideas for this genre
      Use bootstrap grid to show lyrics side by side. col-md-6, col-md-6
      Use another grid to compare the two lyrics and decide theft or homage to the right. col-md-10, col-md-2
      Maybe put those two grids in a container or something. container or container-fluid
   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | Here's a tissue, stop your blood-clot crying
               br
               | The kids, the dog, everybody dying, no lying
               cite The Notorious B.I.G. on  "You're Nobody Till Somebody Kills You" (The Original)
         .col-md-6.col-xs-6
            blockquote
               | Stop your blood-clot crying
               br
               | The kids, the dog, everybody dying, no lying
               cite Jay-Z on "D.O.A."
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent Jay-Z and Biggie both grew up on the east coast, where most rappers and rap groups are tightly knit, aside from a few. Jay-Z is notorious (no pun intended) for biting, or stealing without credit, Biggie's lines. Many would say that he is paying homage to the late Biggie, however there are many other things to consider. Usually when a rapper pays homage, he usually uses a well-known line to let his fans know that he is blatantly paying homage. Lyrics are usually stolen from lines that are "buried" in a song. This is a perfect example, especially since these lyrics were copied verbatim. If Jay-Z really felt the need to pay homage to Biggie, he would have taken a line such as "It was all a dream, I used to read word up magazine" or "I love it when you call me Big Poppa", which are very popular lines in some of Biggie's songs.
         .col-md-3.col-xs-3.toh-center
            p.center-text Theft

   hr(align="center", width="83%", height="2px")
   br
   br

   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | I came to bring the pain hardcore from the brain
               br
               | Let's go inside my astral plane
               cite Method Man on "Bring The Pain" (The Original)
         .col-md-6.col-xs-6
            blockquote
               | I came to bring the pain, hardcore to the brain
               br
               | Let's go inside my astral plane
               cite 2Pac on "No More Pain"
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent
               | Everything about these two lines are very similar, even the song titles: "No More Pain" vs. "Bring the Pain". Unlike the last comparison we looked at, 2Pac did not copy the lines verbatim. 2Pac uses "...to the brain" while Method Man used "...from the brain", both of which give their respective lines entirely different meanings. Now, it could definitely be argued that since 2Pac was from the west coast and Method Man was from the east coast, that these lyrics were obviously stolen due to the rivalry. However, in this particular case, that's very untrue. "Bring The Pain" was one of Method Man's biggest hits. Like we talked about earlier, rappers usually pay homage when taking lines from popular songs. Also, the late 2Pac had also collaborated with Meth on his album
               i  All Eyez On Me,
               |  which eliminated any speculation of a rivalry. But it goes even deeper than that.
               a(target="_blank", href="http://www.hiphopdx.com/index/news/id.7523/title.2pac-wanted-to-work-with-the-wu")  A document written by 2Pac
               |  outlining a conceptual album called
               i  Euthanasia
               |  was realeased showing his desire to work with Method Man and other members of the Wu-Tang Clan. It's obvious that 2Pac had a very positive relationship with Method Man, despite the east coast-west coast rivalry.
         .col-md-3.col-xs-3.toh-center
            p.center-text Homage

   hr(align="center", width="83%", height="2px")
   br
   br

   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
         .col-md-6.col-xs-6
            blockquote
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
         .col-md-3.col-xs-3.toh-center
            p.center-text Homage

   hr(align="center", width="83%", height="2px")
   br
   br

   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
         .col-md-6.col-xs-6
            blockquote
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
         .col-md-3.col-xs-3.toh-center
            p.center-text Homage

   hr(align="center", width="83%", height="2px")
   br
   br

   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
         .col-md-6.col-xs-6
            blockquote
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
         .col-md-3.col-xs-3.toh-center
            p.center-text Homage