//
   Created by Andrew on 11/3/2014.

extends layout

block content
   h1 #{title}
   hr(align="center", width="83%", height="2px")
   //- Ideas for this genre
      Use bootstrap grid to show lyrics side by side. col-md-6, col-md-6
      Use another grid to compare the two lyrics and decide theft or homage to the right. col-md-10, col-md-2
      Maybe put those two grids in a container or something. container or container-fluid
   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | Here's a tissue, stop your blood-clot crying
               br
               | The kids, the dog, everybody dying, no lying
               cite The Notorious B.I.G. on  "You're Nobody Till Somebody Kills You"
         .col-md-6.col-xs-6
            blockquote
               | Stop your blood-clot crying
               br
               | The kids, the dog, everybody dying, no lying
               cite Jay-Z on "D.O.A."
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent Jay-Z and Biggie both grew up on the east coast, where most rappers and rap groups were tightly knit. Jay-Z is notorious (no pun intended) for biting, or stealing without credit, Biggie's lines. Many would say that he is paying homage to the late Biggie, however there are many other things to consider. Usually when a rapper pays homage, he usually uses a well-known line to let his fans know that he is blatantly paying homage. Lyrics are usually stolen from lines that are "buried" in a song. This is a perfect example, especially since these lyrics were copied verbatim. If Jay-Z really felt the need to pay homage to Biggie, he would have taken a line such as "It was all a dream, I used to read word up magazine" or "I love it when you call me Big Poppa", which are very popular lines in some of Biggie's songs.
         .col-md-3.col-xs-3.toh-center
            p.center-text Homage

   hr(align="center", width="83%", height="2px")
   br
   br

   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
         .col-md-6.col-xs-6
            blockquote
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
         .col-md-3.col-xs-3.toh-center
            p.center-text Homage

   hr(align="center", width="83%", height="2px")
   br
   br

   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
         .col-md-6.col-xs-6
            blockquote
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
         .col-md-3.col-xs-3.toh-center
            p.center-text Homage

   hr(align="center", width="83%", height="2px")
   br
   br

   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
         .col-md-6.col-xs-6
            blockquote
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
         .col-md-3.col-xs-3.toh-center
            p.center-text Homage

   hr(align="center", width="83%", height="2px")
   br
   br

   .container-fluid
      .row-fluid
         .col-md-6.col-xs-6
            blockquote.toh-center
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
         .col-md-6.col-xs-6
            blockquote
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
               cite Lorem Ipsum on "Dolor"
      .row-fluid
         .col-md-9.col-xs-9
            p.text-indent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
         .col-md-3.col-xs-3.toh-center
            p.center-text Homage