//
   Created by Andrew on 11/3/2014.

extends layout

block content
   h1 #{title}
   hr
   //- Ideas for this genre
      Use bootstrap grid to show lyrics side by side. col-md-6, col-md-6
      Use another grid to compare the two lyrics and decide theft or homage to the right. col-md-10, col-md-2
      Maybe put those two grids in a container or something. container or container-fluid
   .container
      .row
         .col-md-6.col-xs-6
            blockquote
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
         .col-md-6.col-xs-6
            blockquote
               | Testing this quote stuff
               br
               | And again
               br
               | And again
               br
               | Annnnd again
      .row
         .col-md-9.col-xs-9
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
         .col-md-3.col-xs-3
            p.toh-center Homage